$color-1: #ff885f;
$color-2: #08afb7;
$color-3: #e2e1d0;
$color-4: #211a34;
$body-background: white;
$body-color: $color-4;
$navbar-background: white;
$card-background: white;
$card-content: #211a34;
$navbar-hover-border: #ff885f;
$footer-background: white;
$footer-icon: #211a34;
$button-color1: $color-1;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


html {
  box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: $body-background;
  color: $body-color;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  max-width: 100%;
  overflow-x: hidden;
}

.nav_bar_bg {
  background-color: $navbar-background;
}

.navbar .navbar-collapse{
  align-items: center;
  flex-grow: 0;
}

.img_logo{
  width: auto;
  height: 40px;
  margin-left: 1rem;
}

.whatwedo_img{
  height: 8rem;
  width: auto;

}

.img_logo2{
  position: absolute;
  transform: translate(-50%, -30%);
  left: 50%;
  width: auto;
  height: 40px;
}

ul {
  position: sticky;
  top: 0;
  padding: 0px;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  top: 100%; // remove the gap so it doesn't close
  right: 0;
  left: auto;
  z-index: 99;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel_img{
  position: relative;
  width: 70%; 
  height: 32rem; 
  object-fit: cover;
  z-index: 1;
}

.carousel_text1{
  position: absolute; 
  top: 2rem;
  left: 2rem;
  color: $color-4;
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 1000;
  font-size: 2rem;
  text-align: justify;
  z-index: 2;
}

.carousel_text4{
  position: absolute; 
  top: 50%;
  left: 50%;
  color: white;
  text-shadow: 2px 2px black; 
  transform: translate(-50%, -50%);
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 1000;
  font-size: 3rem;
  text-align: justify;
  z-index: 2;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $button-color1;
    border-color: $button-color1;
}
.carousel-offset{
  margin-top: 2rem;
}


.carousel_text2{
  position: absolute; 
  top: 12rem;
  left: 2rem;
  color: $color-4;
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 1000;
  font-size: 2rem;
  text-align: justify;
  z-index: 2;
}

.carousel_text3{
  position: absolute; 
  top: 16rem;
  left: 2rem;
  color: blanchedalmond;
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 1000;
  font-size: 2rem;
  text-align: justify;
  z-index: 2;
}

.card-bg-custom{
  background-color: $card-background;
  color: $card-content;
}

.btn{
  width: 40%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.above-card-text{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Nunito', Helvetica, sans-serif;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.footer-style{
  background-color: $footer-background;
}

.footer-icons{
  color: $footer-icon;
}

.card-wrapper {
  margin: 1% 0;
}

/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 10rem; /* note i used vw not px for better responsive */
  height: 10rem;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  line-height: initial;
}

.card:hover {
  transform: scale(1.1);
}

.snip1189 {
  font-family: 'Nunito', Arial, sans-serif;
  text-align: right;
  text-transform: lowercase;
  font-weight: 100;
  letter-spacing: 1px;
  position: -webkit-sticky;
  position: sticky;
}
.snip1189 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1189 li {
  display: inline-flex;
  flex-direction: row;
  list-style: outside none none;
  margin: 0.2 1em;
  padding: 0 1em;
}
.snip1189 a {
  padding: 0.5em 0.1em;
  margin: 0.2em 0;
  display: block;
  color: $color-1;
  font-weight: 100;
  position: relative;
  text-decoration: none;
}
.snip1189 a:before,
.snip1189 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1189 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid $navbar-hover-border;
  border-top: 3px solid $navbar-hover-border;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.snip1189 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid $navbar-hover-border;
  border-bottom: 3px solid $navbar-hover-border;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.snip1189 a:hover,
.snip1189 .current a {
  font-weight: 600;
}
.snip1189 a:hover:before,
.snip1189 .current a:before,
.snip1189 a:hover:after,
.snip1189 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}