{% extends 'base.html' %}

{% load static %}
{% block page-content %} 


  <div class="row justify-content-center align-items-center mx-auto" style="max-width: 80%; margin-top: 3rem">
    <div class="col-lg-5">
      <h2 class="text-center"> Vision </h2>
      <p class="main-text">
        Understanding science and research is crucial in our modern world. More and better science communication will
        empower diverse communities to think critically and innovatively and make informed decisions. Fostering
        connections between researchers who are passionate about communicating their work, as well as connecting
        researchers with science communication experts and our dialogue partners in wider society is key to increase and
        enhance the quality of science communication.
      </p>
    </div>
    <div class="col-lg-5 text-center d-none d-lg-block">
      <img src= "{% static 'images/vision.jpg' %}" alt="vision" class="rounded" width="85%">
    </div>
  </div>


  <div class="row justify-content-center align-items-center mx-auto" style="max-width: 80%; margin-top: 5rem">
    <div class="col-lg-5 text-center d-none d-lg-block">
      <img src= "{% static 'images/mission.jpg' %}" alt="mission" class="rounded" width="90%">
    </div>
    <div class="col-lg-5">
      <h2 class="text-center"> Mission </h2>
      <ul class="list-spacing main-text">
        <li>Empower critical and innovative thinking in the scientific community and our dialogue partners through the
          promotion of science and research communication and increasing scientific literacy</li>
        <li>Foster trust between the scientific community and our dialogue partners by: </li>
        <ul class="txt-indent">
          <li> Helping scientists to understand the concerns, issues, and interests of those outside of science and
            research </li>
          <li>Increase the understanding of who scientists are and how science is done </li>
          <li>Increase the diversity of science communicators and of our dialogue partners </li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="mt-5 col-md-12"> </div>
  <div class="mt-5 col-md-12"> </div>

  <div class="row justify-content-center align-items-center mx-auto" style="max-width: 80%; margin-top: 5rem">
    <div class="col-lg-5">
      <h2 class="text-center"> Aims </h2>
      <ul class="list-spacing main-text">
        <li>Create an inclusive and creative science communication exchange platform across borders</li>
        <li>Find universal and context-specific best practices for science communication </li>
        <li>Promote novel, creative, inclusive, and accessible forms of science communication</li>
        <li>Campaign for the advancement of science and research communication and rally for funding and support for new
          and existing science communication initiatives</li>
      </ul>
      </ul>
    </div>
    <div class="col-lg-5 text-center d-none d-lg-block">
      <img src= "{% static 'images/aims.jpg' %}" alt="aims" class="rounded" width="90%">
    </div>
  </div>

{% endblock %}