<footer class="text-center text-lg-start bg-light text-muted" style="margin-top: 10%;">
    <section class="d-flex justify-content-center footer-style">
      <div style="margin-top: 3%; font-size: 2rem;">
        <a class="me-4"><i class="bi-facebook footer-icons"></i></a>
        <a class="me-4"><i class="bi-twitter footer-icons"></i></a>
        <a class="me-4"><i class="bi-instagram footer-icons"></i></a>
        <a class="me-4"><i class="bi-linkedin footer-icons"></i></a>
        <a class="me-4"><i class="bi-github footer-icons"></i></a>
      </div>
    </section>

    <div class="text-center p-4 footer-style">
      <a class="text-reset">
        Unsubscribe from our mailing list </a>
    </div>
    <!--  href="https://forms.gle/CEja9SB2vEJsDMD66" -->

    <div class="text-center p-4 footer-style">
      © 2021 Copyright:
      <a class="text-reset fw-bold"> ISASC </a>
    </div>
  </footer>