{% extends 'base.html' %}

{% load static %}
{% block page-content %}


<div class="mt-md-5 col-md-12"> </div>

<h1 class="text-center"> Meet the Team</h1>

<div class="mt-md-5 col-md-12"> </div>

<div class="mx-auto row row-cols-lg-5 g-5 justify-content-md-center" style="max-width: 90%;">

  {% for member in team_list %}
  <div class="col">
    <div class="card border-0 card-hover" data-bs-toggle="modal"
      data-bs-target="#modal-{{member.first_name}}-{{member.last_name}}">
      <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
        <img class="w-100 h-100" src="{{member.file_name}}" alt="{{member.first_name}}">
      </div>
      <div class="card-body text-center">
        <div class="card-title">{{member.title}} {{member.name}}</div>
        <p class="card-text"> 
          {{member.profession}}<br> {{member.institution}}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="mt-md-5 col-md-12"> </div>

{% for member in team_list %}
<div class="modal fade" id="modal-{{member.first_name}}-{{member.last_name}}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row justify-content-evenly align-items-center">
          <div class="col-sm-5">
            <div class="card border-0">
              <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image2">
                <img class = "w-100 h-100" src="{{member.file_name}}" alt="{{member.first_name}}">
              </div>
              <div class="card-body text-center">
                <div class="card-title">{{member.title}} {{member.name}}</div>
                <p class="card-text"> 
                  {{member.profession}} <br> {{member.institution}}
                </p>
                <div style="font-size: 1rem;">
                  {% if member.twitter %}
                    <a class="me-2" href="https://twitter.com/{{member.twitter}}"><i class="bi-twitter footer-icons"></i></a>
                  {% endif %}
                  {% if member.instagram %}
                    <a class="me-2" href="https://instagram.com/{{member.instagram}}"><i class="bi-instagram footer-icons"></i></a>
                  {% endif %}
                  {% if member.linkedin %}
                    <a class="me-2" href="{{member.linkedin}}"><i class="bi-linkedin footer-icons"></i></a>
                  {% endif %}
                  {% if member.website %}
                  <a class="me-2" href="{{member.website}}"><i class="bi-globe footer-icons"></i></a>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <h3> {{member.name}} </h3>
            {{member.bio}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}